{% extends "edu/base-learn.html" %}
{% block content %}
<legend class="border-bottom mb-4" style="text-align: center;">Learn Cloud Computing</legend>
    {% for video in videos %}
    <h2><a class="article-title" href="{% url 'video-detail' video.id %}" style="align-content: center;">{{ video.title }}</a></h2>

    <div style="margin: 10px auto;">
        <video controls="controls" preload="preload" width="1200">
            <source src="{{ video.video_file.url }}" type="video/mp4"></source>
        </video>
    </div>

        <article class="media content-section Right" style="width: 100%;">
            <p class="article-content">{{ video.contents }}</p>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4"  href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.previous }}">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}

